/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap'); */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	position: relative;
	height: 100%;
	margin-top: -7rem;
}

.triangle {
	position: absolute;
	left: 50%;
	top: 57%;
	transform: translate(-50%, -50%);
	z-index: -5;
}

.rock-cont {
	position: relative;
	top: 40rem;
	left: 20rem;
	cursor: pointer;
	z-index: 1;
}
.paper-cont {
	position: relative;
	top: 15rem;
	left: 8rem;
	cursor: pointer;
	z-index: 1;
}

.scissors-cont {
	position: relative;
	top: 15rem;
	left: 35rem;
	cursor: pointer;
	z-index: 1;
}

.white {
	width: 14rem;
	height: 14rem;
	position: absolute;
	left: 494px;
	top: -2px;
	background: #fff;
	border-radius: 50%;
	z-index: -1;
}

.el {
	left: 538px;
	position: absolute;
	top: 45px;
}

.white-paper {
	width: 15rem;
	height: 15rem;
	position: absolute;
	left: 50rem;
}

.dark-rock {
	background-color: hsl(349, 71%, 42%);
}
.dark-paper {
	background-color: hsl(230, 89%, 62%);
}

.bright-rock {
	background-color: hsl(349, 70%, 56%);
}
.bright-paper {
	background-color: hsl(230, 89%, 65%);
}

.bright-scissors {
	background-color: hsl(40, 84%, 53%);
}

.dark-scissors {
	background-color: hsl(39, 89%, 49%);
}

.dark {
	height: 18rem;
	width: 18rem;
	position: absolute;
	border-radius: 50%;
	z-index: -3;
	left: 474px;
	top: -18px;
}
.bright {
	height: 18rem;
	width: 18rem;
	position: absolute;
	left: 474px;
	z-index: -2;
	top: -26px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.show {
	display: none;
	font-size: 3.5rem;
	color: #fff;
	justify-content: space-evenly;
	text-transform: uppercase;
	align-items: center;
}

.select {
	display: flex;
	flex-direction: column;
	height: 45rem;
	justify-content: space-around;
}

.user-cont {
	transform: scale(1.5);
	position: relative;
	left: -70rem;
}
.com-cont {
	transform: scale(1.5);
	position: relative;
	right: 70rem;
}

.circle {
	height: 20rem;
	width: 20rem;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.1);
}

.play {
	display: none;
	font-weight: 700;
	font-size: 5rem;
	/* display: flex; */
	flex-direction: column;
	align-items: center;
}

.btn {
	font-size: 1.5rem;
	letter-spacing: 3px;
	padding: 1.5rem 3rem;
	border-radius: 8px;
	border: 0;
	text-transform: uppercase;
	margin-top: 5rem;
	cursor: pointer;
}

.rules {
	font-size: 1.7rem;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	border: 1px solid currentColor;
	display: inline-block;
	padding: 1rem 2rem;
	border-radius: 5px;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	z-index: 2;
}

.rules-cont {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100vh;
	width: 100vw;
	position: fixed;
	justify-content: center;
	align-items: center;
	z-index: 10;
	bottom: 0;
	right: 0;
	display: none;
}

.rules-white {
	background-color: rgb(243, 234, 234);
	padding: 1rem;
	height: 40rem;
	width: 40rem;
	border-radius: 1rem;
	position: relative;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-end;
}

.rules-p {
	justify-self: flex-start;
	position: absolute;
	top: 2rem;
	left: 2rem;
	font-size: 3rem;
	font-weight: 700;
	text-transform: uppercase;
}

.rules-img {
	align-self: center;
	margin-bottom: 2rem;
}

.rules-close {
	position: absolute;
	top: 2rem;
	right: 2rem;
	cursor: pointer;
}

.score-cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid rgb(112, 104, 104);
	border-radius: 1.5rem;
	width: 65rem;
	align-self: center;
	margin-top: 5rem;
	padding: 1rem;
}

.score-ps {
	font-size: 3.5rem;
	text-transform: uppercase;
	color: #fff;
	line-height: 0.9;
	font-weight: 700;
}

.score {
	font-size: 8rem;
	color: #777;
}

.score-score {
	background-color: #fff;
	width: 13rem;
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
	height: 13rem;
	border-radius: 1rem;
	padding: 2rem 0;
}

.score-p {
	color: blue;
	text-transform: uppercase;
	font-size: 1.6rem;
}
